
<div class="section footer">
  <app-logo></app-logo>
  <div class="footer-menue">
    <div class="footer-menue-title">Our servives</div>
    <div>Our servives</div>
    <div>tracking</div>
    <div>Terms of service</div>
  </div>
  <div class="footer-menue">
    <div class="footer-menue-title">Our servives</div>
    <div>Our servives</div>
    <div>tracking</div>
    <div>Terms of service</div>
  </div>
  <div class="footer-menue">
    <div class="footer-menue-title">Our servives</div>
    <div>Our servives</div>
    <div>tracking</div>
    <div>Terms of service</div>
  </div>
  <div class="footer-menue">
    <div class="footer-menue-title">Our servives</div>
    <div>Our servives</div>
    <div>tracking</div>
    <div>Terms of service</div>
  </div>
</div>
